<tr class="game">
  <td>{{id}}</td>
  <td>{{count}}/{{maxCapacity}}</td>
  <td>
    <button type="button" data-action-join-game data-game-id="{{id}}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary d">Join Game</button>
    <button type="button" data-action-join-game data-game-id="{{id}}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary m">Join</button>
  </td>
</tr>