<main id="lobby-page">
  <div class="mui-container-fluid mui-panel">
    <table class="mui-table mui-table--bordered games-list">
      <thead>
        <tr class="game">
          <th>Game</th>
          <th>Capacity</th>
          <th>Join</th>
        </tr>
      </thead>
      <tbody>
        {{!-- <tr class="game">
          <td>Game 1</td>
          <td>1/4</td>
          <td>
            <button type="button" data-action-join-game class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary d">Join Game</button>
            <button type="button" data-action-join-game class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary m">Join</button>
          </td>
        </tr>
        <tr class="game lobby-page--table-item__full">
          <td>Game 2</td>
          <td>4/4</td>
          <td>
            <button type="button" disabled data-action-join-game class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary d">Join Game</button>
            <button type="button" disabled data-action-join-game class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary m">Join</button>
          </td>
        </tr> --}}
        {{#each games}}
          <tr class="game">
            <td>game-{{id}}</td>
            <td>{{p_count}}/4</td>
            <td>
              <button type="button" data-action-join-game data-game-id="{{id}}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary d">Join Game</button>
              <button type="button" data-action-join-game data-game-id="{{id}}" class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary m">Join</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <button type="button"data-action-create-game class="mui-btn mui-btn--raised">Create Game</button>
  </div>

  <div id="user-info">
    {{#each user}}
      <span class="{{@key}}">{{.}}</span>
    {{/each}}
</main>
